.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  user-select: none;
}

img {
  width: 100%;
  pointer-events: none;
}

.label {
  position: absolute;
  border: 2px solid red;
}

body {
  margin: 0;
}
